@import 'includes';
/****************************************************************
**************************** Layout  ***************************
****************************************************************/
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.focal-column {
  padding: 0 0;
  margin: 0 auto;
  max-width: 1090px;
  &.condensed {
    max-width: 500px;
  }
}
/****************************************************************
************************** Typography  **************************
****************************************************************/
body {
  font-family: 'Roboto';
}
